@font-face {
    font-family: 'Fredoka One';
    src: url('font/FredokaOne-Regular.ttf');
}

.label{
    -fx-font-family: 'Fredoka One';
    -fx-font-size: 15;
}

#labelErrorPlayer1{
    -fx-font-size: 10;
    -fx-text-fill:red;
}
#labelErrorPlayer2{
    -fx-font-size: 10;
    -fx-text-fill:red;
}
#labelErrorGridSize{
    -fx-font-size: 10;
    -fx-text-fill:red;
}

.text-input{
    -fx-font-family: 'Fredoka One';
    -fx-font-size: 15;
}
.text-input.error{
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

.button{
    -fx-font-family: 'Fredoka One';
    -fx-font-size: 15;
}

